.word{
  border-bottom: 1px solid red;
  margin: 7px;
  color: rgb(79, 79, 80);
  width: 20px;
  text-align: center;
}

/* .gallow {
  border-left: 5px solid black;
  height: 13em;
  width: 5em;
  border-top: 5px solid black;
  position: relative;
} */

/* .rope {
  border-right:5px solid black;
  height:3em;
  position: absolute;
  right:0px
} */

/* .head {
  border-radius:100%; 
  border:5px solid black;
  width:3em;
  height:3em;
  position:absolute;
  left:48px;
  top:44px
} */


/* .body {
  border-left: 5px solid black;
  height:4em;
  position:absolute;
  left:75px;
  top:97px
} */

/* .left_arm{
  border-left: 5px solid black;
  height:2em;
  transform:rotate(45deg); 
  position:absolute;
  left:65px;
  top:111px
} */

/* .right_arm {
  border-left: 5px solid black;
  height:2em;
  transform:rotate(313deg);
  position:absolute;
  left:87px;
  top:111px
} */

/* .left_leg {
  border-left: 5px solid black;
  height:2em;
  transform:rotate(45deg);
  position:absolute;
  left:65px;
  top:152px
} */

/* .right_leg {
  border-left: 5px solid black;
  height:2em;
  transform:rotate(313deg);
  position:absolute;
  left:87px;
  top:152px
} */

/* .base {
  border-top: 5px solid black;
  width:10em;
  position: absolute;
  bottom: 0px

} */
